.g_505 {
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: nowrap;
	background-color: #FFC0C0;
	text-align: center;
	margin: 5.0%;
	box-shadow:20px 30px 0px 0px rgba(0, 0, 0, 0.5);
	padding:1.0% 1.0% 1.0% 1.0%;
	border: 1.0px solid #000000;
}
.g_post_bottom {
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
	padding:0.0% 3.0% 1.0% 3.0%;
}
.g_project_detail {
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	min-height:100.0%;
}
.g_body {
	
	display: grid;
	grid-template-rows: 40px 1fr;
	width: 100vw;
	height: 100vh;
}
.g_sidebar {
	
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-direction: column;
	flex-wrap: nowrap;
	height:100.0%;
	background-color: #FFFFFF;
	z-index: 1;
	border-bottom: 1.0px solid #000000;
}
.g_fourOfour {
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: nowrap;
	background-color: #FFC0C0;
	text-align: center;
	margin: 5.0%;
	height:500.0px;
	width:500.0px;
	box-shadow:20px 30px 0px 0px rgba(0, 0, 0, 0.5);
	padding:1.0% 1.0% 1.0% 1.0%;
	border: 1.0px solid #000000;
}
.g_post_card_detailPage {
	
	word-wrap: break-word;
	min-height:200.0px;
	background-color: #FFFFFF;
	box-shadow:20px 30px 0px 0px rgba(0, 0, 0, 0.5);
	border: 1.0px solid #000000;
	place-self: center;
	width:80.0%;
	max-width:800.0px;
	margin: 30.0px 0.0px 50.0px 0.0px;
}
.g_markdown_content markdown-body {
	
	font-weight:normal; font-size:16.0px; font-family:CrimsonText;
	text-align: left;
}
.g_blog_detail_text {
	
	display: grid;
	align-items: center;
	padding:40.0px 20.0px 40.0px 20.0px;
	background-color: #FFFFFF;
	border: 1.0px solid #000000;
	place-content: center;
}
.g_project_card {
	
	word-wrap: break-word;
	max-width:550.0px;
	min-height:300.0px;
	background-color: #FFFFFF;
	margin: 10.0px 10.0px 10.0px 10.0px;
	box-shadow:20px 30px 0px 0px rgba(0, 0, 0, 0.5);
	border: 1.0px solid #000000;
}
.g_project_cards {
	
	display: grid;
	grid-gap: 2.0rem;
	padding:20.0px;
	margin: 0.0px 0.0px 20.0px 0.0px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));;
	align-content: baseline;
}
.g_blog_cards {
	
	display: grid;
	grid-gap: 3.0rem;
	justify-content: center;
	grid-template-columns: 80%;
	margin: 20.0px 40.0px 40.0px 20.0px;
	align-content: baseline;
}
.g_contet {
	
	display: grid;
}
.g_project_card_summary {
	
	text-align: center;
	font-weight:normal; font-size:13.0px; font-family:SF Mono;
	color:#6C6C6C;
	margin: 0.0% 10.0% 0.0% 10.0%;
}
.g_sidebar_links {
	
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
	text-align: center;
	width:100.0%;
	height:100.0%;
}
.g_about_card {
	
	background-color: #FFFFFF;
	text-align: center;
	box-shadow:20px 30px 0px 0px rgba(0, 0, 0, 0.5);
	border: 1.0px solid #000000;
	padding:10.0px;
	min-width:50.0%;
	max-width:75.0%;
	margin: 30.0px 0.0px 50.0px 0.0px;
	place-self: center;
	align-self: baseline;
}
.g_post_card_overviewPage {
	
	word-wrap: break-word;
	min-height:200.0px;
	background-color: #FFFFFF;
	box-shadow:20px 30px 0px 0px rgba(0, 0, 0, 0.5);
	border: 1.0px solid #000000;
}
.g_post_abstract {
	
	text-align: left;
	font-weight:normal; font-size:13.0px; font-family:SF Mono;
	color:#6C6C6C;
}
.about_text markdown-body {
	
	font-weight:normal; font-size:16.0px; font-family:SF Mono;
	padding:10.0px;
}
.g_sidebar-a {
	
	font-weight:bold; font-size:16.0px; font-family:SF Mono;
	text-decoration: none;
	color:#000000;
	word-wrap: break-word;
	overflow: hidden;
}
.g_project_detail_writeup {
	
	background-color: #FFFFFF;
	box-shadow:20px 30px 0px 0px rgba(0, 0, 0, 0.5);
	border: 1.0px solid #000000;
	display: inline-block;
	margin: 3.0%;
	padding:1.0% 2.0% 1.0% 2.0%;
	max-width:700.0px;
}
.g_post_top {
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
	padding:1.0% 2.5% 0.0% 2.5%;
}


@media (max-width: 666px) {
    .g_project_detail_writeup {
        margin: 0;
        width: 100%;
        border: unset;
        box-shadow: unset;
    }
    .g_project_detail > .g_project_card {
        width: 80%;
        margin-bottom: 60px;
    }
}



@media (max-width: 666px) {
    .g_project_detail_writeup {
        margin: 0;
        width: 100%;
        border: unset;
        box-shadow: unset;
    }
    .g_project_detail > .g_project_card {
        width: 80%;
        margin-bottom: 60px;
    }
}



@media (max-width: 666px) {
    .g_project_detail_writeup {
        margin: 0;
        width: 100%;
        border: unset;
        box-shadow: unset;
    }
    .g_project_detail > .g_project_card {
        width: 80%;
        margin-bottom: 60px;
    }
}



@media (max-width: 666px) {
    .g_project_detail_writeup {
        margin: 0;
        width: 100%;
        border: unset;
        box-shadow: unset;
    }
    .g_project_detail > .g_project_card {
        width: 80%;
        margin-bottom: 60px;
    }
}

@font-face {
    font-family: "SF Mono";
    src: url("/../fonts/SFMono-Regular.otf") format('opentype');
    font-weight: normal;
}
@font-face {
    font-family: "SF Mono";
    src: url("/../fonts/SFMono-Bold.otf") format('opentype');
    font-weight: bold;
}
@font-face {
    font-family: "CrimsonText";
    src: url("/../fonts/CrimsonText-Regular.ttf") format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: "CrimsonText";
    src: url("/../fonts/CrimsonText-Blog.ttf") format('truetype');
    font-weight: bold;
}
body {
    font-family: "SF Mono";
}

.g_sidebar a:hover {
    text-decoration: underline;
}
.g_project_card:hover {
    position: relative;
    top: -5px;
    left: -5px;
    box-shadow: 25px 35px 0px 0px rgba(0, 0, 0, 0.6);
}
g_blog_detail {
    img {
        max-width: 500px;
        width: 80%;
    }
}