body {
font-family: "SF Mono";
}

.g_sidebar a:hover {
text-decoration: underline;
}
.g_project_card:hover {
position: relative;
top: -5px;
left: -5px;
box-shadow: 25px 35px 0px 0px rgba(0, 0, 0, 0.6);
}
pre {
overflow: scroll;
}

@media (min-width: 990px) {
.g_project_cards { grid-template-columns: repeat(2, 500px); }
}