[submodule "blog"]
	path = blog-posts
	url = https://github.com/johngarrett/garrepi-blog-posts
[submodule "projects"]
	path = project-posts
	url = https://www.github.com/johngarrett/garrepi-projects
[submodule "how-to-structure-a-blog"]
	path = how-to-structure-a-blog
	url = https://github.com/johngarrett/how-to-structure-a-blog.git
