/* TODO: script that flags unused classes */
:root {
  --bg-color: #f9f9f9;
  --bg-color-darker: #ececec;

  --text-main: #222;
  --text-muted: #777;
  --border-color: #eaeaea;

  --link-color: #1e5eff;
  --link-color-hover: #0047d4;
}

body {
  font-family: monospace;
  background-color: var(--bg-color);
  color: var(--text-main);
  line-height: 1.6;
  display: grid;
  /* navbar */
  grid-template-rows: 56px 1fr;
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: -0.02em;
  margin-bottom: 0.5rem;
}

.flex-row {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}

.flex-col {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}

.jc-space-around {
  justify-content: space-around;
}

.ai-center {
  align-items: center;
}

.pc-center {
  place-items: center;
}

.bold {
  font-weight: bold;
}


/***** START navbar *********/
.navbar {
  position: sticky;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: white;
}

.navbar-container {
  max-width: 1200px;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  box-sizing: border-box;
}

.navbar-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.navbar a {
  color: inherit;
  text-decoration: none;
  position: relative;
}

.navbar {
  /*box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);*/
  border-bottom: solid;
  border-width: 2px;
}


/****** START: Project page **********/

/*
.project-page {
  max-width: 900px;
  margin: 0 auto;
  width: 60vw;
}

@media (max-width: 600px) {
  .project-page {
    width: 100%;
  }
}
*/
.project-page {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 clamp(0px, 5vw, 10%);
}

.project-page img {
  width: 400px;
}

.gpx-map {
  height: 400px;
  width: 100%;
  margin: 1rem 0;
}

.notebook-entry {
  max-width: 400px;
  border-color: var(--border-color);
  border-width: 2px;
  border-style: solid;
  padding: 1em;
  margin: 1em;
}


.project-card img {
  max-width: 200px;
}


@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #0f1115;
    --text-main: #e6e6e6;
    --text-muted: #a0a0a0;
    --link-color: #8ab4f8;
    --link-color-hover: #5f8ee6;
    --card-bg: #151821;
    --border-color: #2a2f3a;


    --bg-color-darker: #2b2b2b;
  }

  body {
    background-color: var(--bg-color);
    color: var(--text-main);
  }

  .navbar {
    background: var(--card-bg);
    border-color: var(--border-color);
  }

  .navbar a {
    color: var(--text-main);
  }
}


/*** home page **/
/* Outer layout */
.home-container {
  display: grid;
  grid-template-rows: auto 1fr;

  max-width: 900px;
  margin: 40px auto;
  padding: 0 12px;

  gap: 20px;
}

/* Title */
.home-title {
  font-size: 28px;
  text-align: center;
  font-family: monospace;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--text-main);
}

.home-title img {
  width: 300px;
}

/* Inner grid */
.home-link-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
  gap: 16px;
}

/* Boxes */
.home-link-box {
  padding: 10px 12px;

  border-style: dashed;
  border-width: 1px;
}

.home-link-box-title {
  color: var(--text-main);
  background-color: var(--bg-color-darker);
  font-weight: bold;
  font-family: monospace;
  font-size: 14px;
  text-align: center;
  margin-bottom: 8px;
}

.home-link-box a {
  display: block;
  color: var(--link-color);
  text-decoration: none;
  font-size: 14px;
  margin: 2px 0;
}

.home-link-box a:hover {
  color: var(--link-color-hover);
  text-decoration: underline;
  cursor: pointer;
}
