<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/styles2.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://sf.abarba.me/font.css">
  <title>garreπ</title>
</head>
    <body style="width: 100%; height: 100%; margin: 0; background-color: #b5b5b5;">
    <div  class="g_sidebar"><div class="g_sidebar_links" ><a class="g_sidebar-a" href="/projects"><p>⑊ PROJECTS</p></a><a href="/blog" class="g_sidebar-a"><p>✑ BLOG</p></a><a href="/about" class="g_sidebar-a"><p>π ABOUT</p></a></div></div><div  class="g_content"><div class="g_505" ><div  class="g_hstack_space-evenly_center"><img  src="/images/error_bomb.png" style="width:100.0px;height:100.0px;"><h3  style="font-weight:bold; font-size:40.0px; font-family:SF Mono;" ><p>HTTP 500</p></h3></div><p  ><p>If you're seeing this page, <a href="www.garrepi.dev">garrepi.dev</a> is down.</p><p>Most likely because I am hosting it on a 2010 dell laptop, raspberry pi, or iPhone 7...</p><p>It should be back up shortly. If not, you can find the raw markdown of the blog here if you are so inclined to do so:</p><p><a href="https://github.com/johngarrett/garrepi-blog-posts">blog repo</a></p></p></div></div>
    </body>
</html>